body{
    background-color: rgb(17, 167, 117);
    
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(221, 157, 29);
    color: rgb(15, 7, 7);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(152, 108, 20);
}


div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}