body{
    background-color: rgb(237, 244, 241);
    
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(80, 105, 230);
    color: rgb(15, 7, 7);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(119, 146, 243);
}

div{
    
    width: 25%;
    text-align: center;
    padding: 80px;
    border-radius:30px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    Font: 20px;



}

textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}